* {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: justify;
}

body {
    margin: 0;
    background: #A18F83;
}

.main-block {
    margin: 0 5%;
}

h1 {
    text-align: center;
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

a {
    text-decoration: none;
    transition: .5s linear;
}

p {
    line-height: 1.3;
    max-width: 80ch;
}

.block {
    display: flex;
    margin: 10px 0 10px 0;
    padding: 10px;
    background: #e2e7e7;
    border-radius: 4px;
    box-shadow: 0.4em 0.4em 4px rgba(122,122,122,0.4);
    min-width: 600px;
}

.nav_menu {
    justify-content: center;
    /*padding-bottom: 0;*/
}

.nav_elem {
    color: #464A50;
    margin: 0 50px;
    border-bottom: 4px solid #e2e7e7;
}

.nav_elem:hover {
    border-bottom: 4px solid #9EA7B5;
}

.about_and_photo {
    margin: 20px 0;
    display: flex;
}

#avatar_img{
    width: 360px;
    height: 500px;
    border-radius: 4px;
}

.flex {
    display: flex;
}

#about_h2 {
    margin-bottom: 5px;
}

.about_block {
    margin: 0 0 0 20px;
    height: 490px;
    padding: 0 14% 10px 30px;
    min-width: 450px;
}

.about_text {
    margin-top: 50px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill_block {
    margin: 5px 0 5px 0;
    align-items: center;
    width: 48%;
    height: 300px;
    padding: 10px;
}

.skill_img {
    align-items: center;
    width: 300px;
    height: 300px;
}

.skill_text {
    min-height: 250px;
    padding: 0 10px 10px 10px;
    text-align: start;
}

li {

    font-size: 18px;
}

.last_info {
    margin: 10px 0 10px 0;
    padding: 5px 10px 10px 10px;
    background: #e2e7e7;
    border-radius: 4px;
    box-shadow: 0.4em 0.4em 4px rgba(122,122,122,0.2);
}

.hobby_and_dev_text {
    flex-direction: column;
    padding: 0 20px;
}

.hobby_and_dev_img {
    align-items: center;
    width: 400px;
    height: 400px;
}

.subtitle {
    text-align: center;
}

.ref_messenger {
    margin: 0;
    display: flex;
    /* padding-left: 15%; */
    width: 75%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contacts {
    min-width: 250px;
    vertical-align: bottom;
}

.copyright {
    margin: 40px 0 0 0;
}

.li_no_point {
    list-style: none;
}

.mess_icon {
    width: 48px;
    height: 48px;
}